
/* ----------------------------------------
19. Responsive
---------------------------------------- */

@media (max-width: 1199px) {
    header .nav-list {
        position: fixed;
        top: 90px;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        visibility: hidden;
        background-color: #0009;
        transition: opacity 0.5s ease-in-out 0s;
    }
    header .nav-list.show {
        opacity: 1;
        visibility: visible;
    }
    header .main-menu {
        position: absolute;
        top: 0;
        left: -100%;
        height: calc(100% - 90px);
        padding: 20px 30px;
        flex-direction: column;
        align-items: start;
        justify-content: unset;
        overflow: auto;
        overflow-x: hidden;
        background-color: var(--bg-color);
        transition: all 0.5s ease-in-out 0s;
    }
    header .nav-list.show .main-menu {
        left: 0;
    }
    header .main-menu>.nav-item {
        width: 200px;
        height: unset;
        padding: 10px 0;
        flex-direction: column;
        align-items: unset;
    }
    header .nav-item.has-sub-menu>a::after {
        left: 100%;
    }
    header .sub-menu {
        margin-top: 10px;
        position: static;
        display: none;
        visibility: visible;
        opacity: 1;
        border: none;
        box-shadow: none;
        padding: 0;
        transform: translateY(0);
    }
    header .sub-menu .nav-item {
        padding: 6px 0;
        padding-left: 10px;
    }
    header .sub-menu .nav-item:hover {
        background-color: var(--bg-color);
        color: var(--main-color);
        padding-left: 20px;
    }
    header .menu-toggler {
        display: block;
    }
    body.light header.style-2 .main-menu>.nav-item>a {
        color: #000;
    }
    .hero,
    .hero .container {
        height: auto;
    }
}
